body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./images/back.jpg')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  grid-gap: 25px;
}
.app {
  width: 900px;
  height: 900px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: 400px;
}
